#wrapperLogin{
    display: flex;
    justify-content: center;
    place-items: center;
    background-color:#242424;
    margin: 0px auto;
    width: 30%;
    height: 40%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#wrapperPage{
    display: grid;
    place-items: center;
    height: 1080px;
}
#userEmail{
    width: 0px;
    height: 0px;
    transition: 1s;
    display: none;
}

#userLogo{
    width: 100px;
    height: 100px;
    
}
#emailLogo{
    display: inline;
}
